/* ---------------------------default--------------------------- */
.wrap {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    padding: 180px 32px;
    box-sizing: border-box;
}

.container {
    min-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.sec_title h3 {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.41;
    letter-spacing: -2px;
    text-indent: -2px;
    padding-bottom: 20px;
}

.sec_title .title_right {
    display: flex;
    justify-content: end;
}

.sec_title p {
    font-size: 1em;
    font-weight: 100;
    line-height: 1.56;
    display: inline-block;
    text-align: left;
    align-items: end;
}

/* ---------------------------main slider--------------------------- */
.main_slider {
    position: relative;
}

.main_slider img {
    width: 100%;
    height: auto;
}

.main_slider .slide_txt {
    position: absolute;
    bottom: 35%;
    left: 10%;
    color: #FFFFFF;
    text-align: left;
}

.main_slider .swiper-active {
    position: absolute;
    top: 75%;
    left: 10%;
    max-width: 450px;
    width: 100%;
}

.main_slider .swiper-pagination {
    position: absolute;
    top: 0;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
}

.main_slider .swiper-pagination .swiper-pagination-current {
    color: #FFFFFF;
}

.main_slider .swiper-button-next, .main_slider .swiper-button-prev {
    color: #ffffff;
    z-index: 999;
}

.main_slider .swiper_btn {
    position: absolute;
    top: 15px;
    right: -15px;
    width: 80px;
}

.main_slider .swiper-button-prev {
    left: -10px;
}

.main_slider .swiper-button-prev,
.main_slider .swiper-button-next{
    width: 32px;
    height: 32px;
}

.main_slider .swiper-button-prev::after,
.main_slider .swiper-button-next::after{
    font-size: 14px;
}

.main_slider .swiper-button-prev:hover,
.main_slider .swiper-button-next:hover{
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
}

.main_slider .swiper-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.main_slider .swiper-slide-duplicate,
.main_slider .swiper-slide {
    background-color: #ffffff;
    background-position: center center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.main_slider .swiper-slide-duplicate .description,
.main_slider .swiper-slide-duplicate .title,
.main_slider .swiper-slide .description,
.main_slider .swiper-slide .title {
    display: block;
    opacity: 0;
    transition: 0.5s ease 0.5s;
}

.main_slider .swiper-slide-duplicate-active .description,
.main_slider .swiper-slide-duplicate-active .title,
.main_slider .swiper-slide-active .description,
.main_slider .swiper-slide-active .title {
    opacity: 1;
}

.main_slider .swiper-slide-duplicate-active .title,
.main_slider .swiper-slide-active .title {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 10px;
    transition: opacity 0.5s ease 0.5s;
}

.main_slider .swiper-slide-duplicate-active .description,
.main_slider .swiper-slide-active .description {
    font-size: 24px;
    transition: opacity 0.5s ease 0.75s;
}

/* ---------------------------main slider progressbar--------------------------- */

.main_slider .swiper-progress-bar {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    z-index: 1;
}

.main_slider .swiper-progress-bar .slide_progress-bar {
    position: absolute;
    width: auto;
    bottom: 45px;
    left: 0;
    right: 0;
    clear: both;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
}

.main_slider .swiper-progress-bar .slide_progress-bar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    height: 100%;
    width: 0;
    transition: 0.1s width linear;
}

.main_slider .swiper-progress-bar.active .slide_progress-bar {
    opacity: 1;
}

.main_slider .swiper-progress-bar.animate .slide_progress-bar:after {
    transition: width linear;
    transition-delay: unset;
    width: 100%;
    transition-duration: 5s;
}

/* ---------------------------section1--------------------------- */

.sec1 {
    width: 100%;
}

.sec1 .sec_title h3::after {
    content: '';
    position: absolute;
    top: 130px;
    left: 0;
    width: 70px;
    height: 5px;
    background-color: #ffd44a;
}

.sec1_content {
    margin-top: 100px;
}

.sec1_ul {
    display: flex;
    flex-direction: row;
}

.sec1_ul li {
    width: 100%;
    margin-right: 30px;
}

.sec1_ul li:last-child {
    margin-right: 0;
}

.sec1_ul li .sec1_cont_img {
    transition: all 0.3s;
}

.sec1_ul li .sec1_cont_img:hover {
    transform: translateY(-20px);
    transition: all 0.3s;
    box-shadow: 0 0 15px 2px #dddddd;
}

.sec1_ul .sec1_cont_txt {
    padding: 20px 16px 0;
    color: #1f1f1f;
}

.sec1_ul .sec1_cont_txt h4 {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.52;
}

.sec1_ul .sec1_cont_txt p {
    margin-top: 7px;
    font-size: 0.9em;
    font-weight: 100;
    line-height: 1.6;
}

/* ---------------------------section2--------------------------- */

.sec2 {
    width: 100%;
}

.sec2 .wrap {
    padding-top: 0;
}

.sec2 .sec2_cont_txt {
    width: 1114px;
    height: 338px;
    padding: 102px 520px 102px 104px;
    box-sizing: border-box;
    background-color: #ffd44a;
}

.sec2 .sec2_cont_txt p {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: -1px;
}

.sec2 .sec2_cont_txt p span {
    font-weight: 700;
}

.sec2 .sec2_cont_txt .sec2_title {
    margin-top: 24px;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.47;
}

.sec2 .sec2_cont_img {
    position: absolute;
    top: 105px;
    right: 0;
    width: 592px;
    height: 360px;
}

/* ---------------------------section3--------------------------- */

.sec3 {
    width: 100%;
    background-color: #f7f8f9;
}

.sec3 .sec_title h3::after {
    content: '';
    position: absolute;
    top: 250px;
    left: 30px;
    width: 70px;
    height: 5px;
    background-color: #ffd44a;
}

.sec3_category {
    position: absolute;
    top: 220px;
    right: 30px;
}

.sec3_category button {
    display: inline-block;
    height: 38px;
    margin-left: 8px;
    padding: 0 24px;
    border-radius: 19px;
    font-size: 1em;
    font-weight: 500;
    line-height: 38px;
    color: rgba(30, 30, 30, .5);
}

.sec3_category button.on {
    color: #1e1e1e;
    background-color: #f0f1f2;
}

.sec3_slide .swiper-sec .myCategorySlider {
    display: none;
    transition: all 0.5s;
}

.sec3_slide .swiper-sec .myCategorySlider.on {
    display: block;
    transition: all 0.5s;
}

.sec3_slide .swiper {
    padding: 32px 0;
}

.sec3_slide .swiper-wrapper {
    margin-top: 50px;
}

.sec3_slide .swiper-slide {
    border-radius: 5px;
    background-color: #FFFFFF;
    transition: all 0.3s;
}

.sec3_slide .swiper-slide:hover {
    transform: translateY(-20px);
    transition: all 0.3s;
    box-shadow: 0 0 15px 2px #dddddd;
}

.sec3_slide .slide_content {
    position: relative;
    height: 466px;
    border-radius: 4px;
}

.sec3_slide .swiper-slide .imgbox {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 180px;
    border-radius: 5px 5px 0 0;
}

.sec3_slide .swiper-slide .txtbox {
    padding: 32px;
    box-sizing: border-box;
}

.sec3_slide .swiper-slide .txtbox .title {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.52;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sec3_slide .swiper-slide .txtbox .subtxt {
    margin-top: 12px;
    font-size: 15px;
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sec3_slide .swiper-slide .date {
    position: absolute;
    left: 32px;
    bottom: 32px;
    width: 296px;
    color: rgba(30, 30, 30, .4);
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: -.4px;
}

.sec3_slide .swiper-scrollbar {
    height: 5px;
    border-radius: 10px;
    background-color: transparent;
}

.sec3_slide .swiper-scrollbar .swiper-scrollbar-drag {
    background: rgba(0, 0, 0, 0.1);
}
